<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>API</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<body>
<div class="main">
{% for item in items %}
<div><p> {{item.id}} | {{item.url}} | {{item.answer}} | {{item.created_at}} </p></div>
{% endfor %}
</div>
</body>
</html>