<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>API</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<body>
<div class="main">
{% for item in items %}
<p><b>{{item.id}} <div style="color:blue;">{{item.url}}</div></b> {{item.created_at}} <div>{{item.answer}}</div>  </p>
{% endfor %}
</div>
</body>
</html>